{{!--
Image Upload Component

Usage:
{{> "systems/avant/templates/shared/partials/image-upload"
src=item.img
alt=item.name
title=item.name
size=64
class="custom-class"
}}

Required: src, alt
Optional: title, size (defaults to 64), class
--}}

<div class="form-group form-group--image-upload {{#if class}}{{class}}{{/if}}">
  <div class="image-upload">
    <img class="image-upload__img" src="{{src}}" data-edit="img" data-action="editImage"
      title="{{#if title}}{{title}}{{else}}{{alt}}{{/if}}" alt="{{alt}}" height="{{#if size}}{{size}}{{else}}64{{/if}}"
      width="{{#if size}}{{size}}{{else}}64{{/if}}" role="button" tabindex="0" aria-label="Upload image for {{alt}}"
      onkeydown="if(event.key==='Enter'||event.key===' '){this.click();}" />

    <div class="image-upload__overlay" aria-hidden="true">
      <i class="fas fa-edit" aria-hidden="true"></i>
    </div>
  </div>
</div>