{{!--
Image Upload Component

Usage:
{{> "systems/avant/templates/shared/partials/image-upload"
src="icons/svg/mystery-man.svg" # image URL
size=64 # px; both width & height
alt="Actor portrait" # alt attribute (a11y)
class="profile-img"}} # optional extra classes

Required: src, alt
Optional: size (defaults to 64), class
--}}

<div class="image-upload {{class}}">
  <img class="image-upload__img" src="{{#if src}}{{src}}{{else}}icons/svg/mystery-man.svg{{/if}}"
    width="{{#if size}}{{size}}{{else}}64{{/if}}" height="{{#if size}}{{size}}{{else}}64{{/if}}" alt="{{alt}}"
    data-edit="img">
  <div class="image-upload__overlay" aria-hidden="true">
    <i class="fa-solid fa-pen"></i>
  </div>
</div>