<!-- Actor Header Section for V2 ApplicationV2 -->
<header class="sheet-header">
    <img class="profile-img" src="{{#if actor.img}}{{actor.img}}{{else}}icons/svg/mystery-man.svg{{/if}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/></h1>
    </div>
    <!-- Character Stats moved to header -->
    <div class="header-stats">
        <div class="header-stat">
            <span class="header-stat-label">Level</span>
            <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" class="header-stat-input"/>
        </div>
        <div class="header-stat">
            <span class="header-stat-label">Fortune</span>
            <input type="text" name="system.fortunePoints" value="{{system.fortunePoints}}" data-dtype="Number" min="0" max="5" class="header-stat-input"/>
        </div>
    </div>
</header> 